
<div *ngIf="saleCondition">
    <h2><span jhiTranslate="cotizacionesApp.saleCondition.detail.title">Sale Condition</span> {{saleCondition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cotizacionesApp.saleCondition.key">Key</span></dt>
        <dd>
            <span>{{saleCondition.key}}</span>
        </dd>
        <dt><span jhiTranslate="cotizacionesApp.saleCondition.value">Value</span></dt>
        <dd>
            <span>{{saleCondition.value}}</span>
        </dd>
        <dt><span jhiTranslate="cotizacionesApp.saleCondition.sales">Sales</span></dt>
        <dd>
            <div *ngIf="saleCondition.salesId">
                <a [routerLink]="['/sales', saleCondition.salesId]">{{saleCondition.salesId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sale-condition/'+ saleCondition.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
