<div>
    <div class="row">
      <div class="col">
        <h2>
          <span jhiTranslate="cotizacionesApp.sales.home.title">Sales</span>
        </h2>
      </div>
      <div class="col">
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" readonlyInput="true"
        showButtonBar="true" [locale]="es" dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Rango de fechas"
        (onSelect)="captureValue($event)" (onClearClick)="clearValue($event)"></p-calendar>
        <button class="btn btn-primary float-right jh-create-entity create-sales" [routerLink]="['/', { outlets: { popup: ['sales-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cotizacionesApp.sales.home.createLabel">
            Create new Sales
            </span>
        </button>    </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sales">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="finalPrice"><span jhiTranslate="cotizacionesApp.sales.finalPrice">Final Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="conditions"><span jhiTranslate="cotizacionesApp.sales.conditions">Conditions</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientId"><span jhiTranslate="cotizacionesApp.sales.client">Client</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contactId"><span jhiTranslate="cotizacionesApp.sales.contact">Contact</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="locationId"><span jhiTranslate="cotizacionesApp.sales.location">Location</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productId"><span jhiTranslate="cotizacionesApp.sales.product">Product</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDate"><span jhiTranslate="cotizacionesApp.sales.createDate">Create Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sales of sales ;trackBy: trackId">
                <td><a [routerLink]="['../sales', sales.id ]">{{sales.id}}</a></td>
                <td>{{sales.finalPrice}}</td>
                <td>{{sales.conditions | slice:0:50}}</td>
                <td>
                    <div *ngIf="sales.clientId">
                        <a [routerLink]="['../client', sales.clientId  ]" >{{sales.clientName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sales.contactId">
                        <a [routerLink]="['../contact', sales.contactId  ]" >{{sales.contactName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sales.locationId">
                        <a [routerLink]="['../location', sales.locationId  ]" >{{sales.locationDescription}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sales.productId">
                        <a [routerLink]="['../product', sales.productId  ]" >{{sales.productModel}}</a>
                    </div>
                </td>
                <td>{{sales.createDate | date:'longDate'}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                (click)="exportPdf(sales.id)">
                            <span class="fa fa-file-pdf-o"></span>Pdf
                        </button>
                        <button type="submit"
                                [routerLink]="['../sales', sales.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sales/'+ sales.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sales/'+ sales.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sales && sales.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
