<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySalesLabel" jhiTranslate="cotizacionesApp.sales.home.createOrEditLabel">Create or edit a Sales</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div [hidden]="!sales.id">
            <label for="id" jhiTranslate="global.field.id" style="display: inline-block;">ID</label>
            <p style="display: inline-block;" class="lead">{{sales.id}}</p>
        </div>
        <div [hidden]="sales.id">
            <label style="display: inline-block;" class="form-control-label" jhiTranslate="cotizacionesApp.sales.createDate" for="field_createDate">Create Date</label>
            <p style="display: inline-block;" ><strong>{{currentDate}}</strong></p>
        </div>
        <div [hidden]="!sales.id">
            <label style="display: inline-block;" class="form-control-label" jhiTranslate="cotizacionesApp.sales.createDate" for="field_createDate">Create Date</label>
            <p style="display: inline-block;"><strong>{{sales.createDate | date:'longDate'}}</strong></p>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cotizacionesApp.sales.finalPrice" for="field_finalPrice">Final Price</label>
            <input type="number" class="form-control" name="finalPrice" id="field_finalPrice"
                [(ngModel)]="sales.finalPrice" min="0" (keypress)="numberOnly($event)" />
            <div [hidden]="!(editForm.controls.finalPrice?.dirty && editForm.controls.finalPrice?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.finalPrice?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.finalPrice?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cotizacionesApp.sales.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="sales.clientId" (change)="captureValueClient($event)">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cotizacionesApp.sales.contact" for="field_contact">Contact</label>
            <select class="form-control" id="field_contact" name="contact" [(ngModel)]="sales.contactId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="contactOption.id" *ngFor="let contactOption of filteredContacts; trackBy: trackContactById">{{contactOption.name}} {{contactOption.surname}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="cotizacionesApp.sales.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" multiple name="product" [(ngModel)]="sales.products">
                <option [ngValue]="getSelected(sales.products, productOption)" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.model}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="cotizacionesApp.sales.saleConditions" for="field_saleConditions">Sale Conditions</label>
            <select class="form-control" id="field_saleConditions" multiple name="saleConditions" [(ngModel)]="sales.saleConditions">
                <option [ngValue]="getSelected(sales.saleConditions, saleConditionsOption)"
                  *ngFor="let saleConditionsOption of saleconditions; trackBy: trackSaleConditionsById">
                  {{saleConditionsOption.key}} - {{saleConditionsOption.value}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
